<div id="stats">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/stats.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stats.css">

    <span class="description">Stats - Rush - Alpha</span>

    <div id="ranking">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <tr class="active">
                <th class="font">Platz</th>

                <th class="font playername">Spieler</th>

                <th class="font points">
                    <div class="arrows"><span class="arrow-up"></span><span class="arrow-down"></span></div>
                    Punkte
                </th>

                <th class="font wins">
                    <div class="arrows"><span class="arrow-up"></span><span class="arrow-down"></span></div>
                    Wins
                </th>

                <th class="font kills">
                    <div class="arrows"><span class="arrow-up"></span><span class="arrow-down"></span></div>
                    Kills
                </th>

                <th class="font level">
                    <div class="arrows"><span class="arrow-up"></span><span class="arrow-down"></span></div>
                    Level
                </th>

                <th class="font kills-deaths">
                    <div class="arrows"><span class="arrow-up"></span><span class="arrow-down"></span></div>
                    K/D
                </th>
            </tr>

            <tr class="template">
                <td><span class="badge rank">1</span></td>

                <td class="playername"><img class="avatar playeravatar" src="https://minotar.net/avatar/%playername%/48"
                                            alt=""><span></span></td>

                <td class="points"></td>

                <td class="wins">111</td>

                <td class="kills">111</td>

                <td class="level">111</td>

                <td class="kills-deaths">111</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination clearfix">
            <a class="active"><span>1</span></a>
            <a><span>2</span></a>
            <a><span>3</span></a>
            <a><span>4</span></a>
            <a><span>5</span></a>
            <a><span>6</span></a>
            <a><span>7</span></a>
            <a><span>8</span></a>
            <a><span>9</span></a>
        </div>
    </div>
    <div id="profile">
        <div class="header">
            <img class="playeravatar">

            <div class="rankoverview">
                <div class="player"><span class="vip">VIP</span><span class="playername">Notch</span></div>
                <div class="levelicons">
                    <img class="template levelicon">
                    <img class="levelicon" src="/images/master.gif">
                </div>
            </div>
        </div>
        <div class="games border">
            <div class="template game">
                <span class="gamename"></span>
                <img class="gameicon">
                <img class="levelicon">
                <span class="levelname"></span>
                <br>
                Level <span class="level"></span>

                <div class="progress border">
                    <div class="bar border"> <!--TODO: CSS border grey 1px-->
                        <div class="completed"></div>
                    </div>
                    <div class="textual"><span class="completed"></span>/<span class="total"></span></div>
                    <!--TODO: float right-->
                </div>
                <ul class="fields">
                    <li class="field border">
                        <span class="name"></span> <!--TODO: Uppercase-->
                        <span class="value"></span> <!--TODO: Bold ??-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>