#stats {
    background-color: #f2f2f2;
}

#stats .template {
    display: none;
}

#stats #ranking {
    display: none;
}

#stats #ranking th {
    background-color: #303338;
    color: white;
    text-transform: uppercase;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#stats #ranking th .arrows {
    margin-top: 4px;
    margin-left: 20%;
    margin-right: -30%;
}

#stats #ranking td.font {
    font-style: PTSans;
    font-size: 16px;
    width: 310px;
    max-width: 380px;
}

#stats #ranking th.font {
    font-style: PTSans;
    font-size: 15px;
    width: 310px;
    max-width: 380px;
}

#stats #ranking td.fontleft {
    font-size: 15px;
    width: 100px;
    text-align: center;
}

#stats #ranking

@media (min-width: 1744px) {
    #stats #ranking

    @media (min-width: 1744px) td.fontleft {
        width: 310px;
    }
    }
    #stats #ranking span.font {
        font-style: PTSans;
        font-size: 16px;
    }

    #stats #ranking div.blue {
        background: #2980b9;
        height: 6px;
        width: 310px;
    }

    #stats #ranking span.glyphicon {
        color: #a3a3a3;
        font-size: 16px;
        margin-right: 20px;
        margin-left: 20px;
    }

    #stats #ranking table {
        text-align: left;
    }

    #stats #ranking table tr {
        height: 50px;
    }

    #stats #ranking table tr td {
        font-size: 16px;
    }

    #stats #ranking table tr td .playeravatar {
        float: left;
    }

    #stats #ranking table tr:nth-of-type(odd) td {
        background-color: #f3f3f3;
    }

    #stats #ranking table tr:nth-of-type(even) td {
        background-color: #ededed;
    }

    #stats #ranking table tr td {
        text-align: center;
    }

    #stats #ranking table tr td.playername span {
        vertical-align: middle;
        margin-top: 13px;
        display: inline-block;
    }

    #stats #profile .border {
        border: solid 1px #e5e5e5;
    }

    #stats #profile .header {
        background-image: url("https://www.build-hive.net/images/stats/profile_header.png");
    }

    #stats #profile .header .playeravatar {
        width: 128px;
        height: 128px;
    }

    #stats #profile .header .rankoverview {
        float: left;
        margin-left: 75px;
    }

    #stats #profile .header .rankoverview .player .vip {
        display: None;
        background-color: green;
        width: 88px;
        height: 42px;
    }

    #stats #profile .header .rankoverview .player .playername {
        color: white;
        margin-left: 21px;
    }

    #stats #profile .header .rankoverview .levelicons {
        margin-top: 13px;
    }

    #stats #profile .header .rankoverview .levelicons .levelicon {
        width: 48px;
        height: 48px;
        opacity: 0.4;
    }

    #stats #profile .header .rankoverview .levelicons .levelicon.reached {
        opacity: 1;
    }

    #stats #profile .games {
        margin-top: 64px;
    }

    #stats #profile .games .game {
        width: 350px;
        height: 570px;
    }

    #stats #profile .games .game .gamename {
        text-transform: uppercase;
    }

    #stats #profile .games .game .gameicon {
        margin-left: 1px;
        width: 348px;
    }

    #stats #profile .games .game .levelicon {
        width: 105px;
        height: 105px;
    }

    #stats #profile .games .game .levelicon .progress {
        position: relative;
    }

    #stats #profile .games .game .levelicon .progress .complete {
        background-color: #2ecc71;
        border: solid 1px #f2f2f2;
    }

    #stats #profile .games .game .levelicon .fields .field .name {
        color: grey;
    }

    #stats #profile .games .game .levelicon .fields .field .value {
        color: #303338;
    }