@background: #f2f2f2;

#stats {
  background-color: @background;
  .template {
    display: none;
  }
  #games {
  }
  #ranking {
    display: none;
    th {
      background-color: #303338;
      color: white;
      text-transform: uppercase;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .arrows {
        margin-top: 4px;
        margin-left: 20%;
        margin-right: -30%;
      }
    }

    td.font {
      font-style: PTSans;
      font-size: 16px;
      width: 310px;
      max-width: 380px;
    }
    th.font {
      font-style: PTSans;
      font-size: 15px;
      width: 310px;
      max-width: 380px;
    }
    td.fontleft {
      font-size: 15px;
      width: 100px;
      text-align: center;
    }
    @media (min-width: 1744px) {
      td.fontleft {
        width: 310px;
      }
    }
    span.font {
      font-style: PTSans;
      font-size: 16px;
    }
    div.blue {
      background: #2980b9;
      height: 6px;
      width: 310px;
    }
    span.glyphicon {
      color: #a3a3a3;
      font-size: 16px;
      margin-right: 20px;
      margin-left: 20px;
    }
    table {
      text-align: left;
      tr {
        height: 50px;
        td {
          font-size: 16px;
          .playeravatar {
            float: left;
          }
        }
      }
      tr:nth-of-type(odd) {
        td {
          background-color: #f3f3f3;
        }
      }
      tr:nth-of-type(even) td {
        background-color: #ededed;
      }
      tr {
        td {
          text-align: center;
        }
        td.playername span {
          vertical-align: middle;
          margin-top: 13px;
          display: inline-block;
        }
      }
    }
  }
  #profile {
    .border {
      border: solid 1px #e5e5e5;
    }
    .header {
      background-image: url("https://www.build-hive.net/images/stats/profile_header.png");
      .playeravatar {
        width: 128px;
        height: 128px;
      }
      .rankoverview {
        float: left;
        margin-left: 75px;
        .player {
          .vip {
            display: None; //Change via js
            background-color: green;
            width: 88px;
            height: 42px;
          }
          .playername {
            color: white;
            margin-left: 21px;
          }
        }
        .levelicons {
          margin-top: 13px;
          .levelicon {
            width: 48px;
            height: 48px;
            opacity: 0.4;
          }
          .levelicon.reached {
            opacity: 1;
          }
        }
      }
    }
    .games {
      margin-top: 64px;
      .game {
        width: 350px;
        height: 570px;
        .gamename {
          text-transform: uppercase;
        }
        .gameicon {
          margin-left: 1px;
          width: 348px;
        }
        .levelicon {
          width: 105px; //TODO: Ugly -> not a multiple of 16
          height: 105px; //TODO: Ugly -> not a multiple of 16
          .progress {
            position: relative;
            .complete {
              background-color: #2ecc71;
              border: solid 1px @background;
            }
          }
          .fields {
            .field {
              .name {
                color: grey;
              }
              .value {
                color: #303338;
              }
            }
          }
        }
      }
    }
  }
}