{% extends "base.html" %}

{% import 'macros.html' as macros %}


{% block title %}{{player}}{% endblock %}

{% block content %}
<ul>
    {% for game, profile in profiles.iteritems() %}
    {% if profile.played %}
    <li>
        <div class="game-profile">
            <div class="game" style="text-transform: capitalize;">{{game}}</div>
            <ul class="stats">
                <li class="wins">Wins: {{ profile.wins }}</li>
                <li class="kills">Kills: {{ profile.kills }}</li>
                <li class="points">Points: {{ profile.points }}</li>
                <li class="kill-death-relation">
                    KD: {{ macros.kd(profile.kills,profile.deaths) }}
                </li>
                <li>Games played: {{ profile.played_games }}</li>
            </ul>
            <hr>
            <p class="level">Level: {{ profile.level }} ({{ profile.next_level }} more points to reach the next
                level)</p>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}