{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block title %}Ranking - {{game}}{% endblock %}


{% block content %}
<table>
    <tr>
        <td>#</td>
        <td>Username</td>
        <td>{{ macros.order_link("Level","level") }}</td>
        <td>{{ macros.order_link("Points","points") }}</td>
        <td>{{ macros.order_link("Wins","wins") }}</td>
        <td>{{ macros.order_link("K/D","kd") }}</td>
        <td>{{ macros.order_link("Kills","kills") }}</td>
    </tr>
    {% for entry in ranking %}
    <tr>
        <td class="rank">{{ entry.rank }}.</td>
        <td class="username"><a href="/player/{{ entry.username }}">{{ entry.username }}</a></td>
        <td class="level">{{ entry.level }}</td>
        <td class="points">{{ entry.points }}</td>
        <td class="wins">{{ entry.wins }}</td>
        <td class="kill-death-relation">
            {{ macros.kd(entry.kills,entry.deaths) }}
        </td>
        <td class="kills">{{ entry.kills }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}